%footer.Footer
  %ul
    %li.Footer-item
      %a.Logo{:href => '/'} fmfm
    %li.Footer-item
      - if login_user
        %a{:href => "/users/#{login_user.id}"} MyPage
      - else
        %a{:href => '/auth/twitter?use_authenticate=true'} SignIn
    %li.Footer-item
      %a{:href => 'https://github.com/fmfm/fmfm-web', :target => '_blank'} GitHub


