@import "suitcss";
@import "octicons";
.octicon {
  font-size: inherit;
}

body {
  line-height: 1.15;
  font-family: '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-size: 14px;
  background: #fff;
  color: #292929;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: .7;
  }
}

.Layout {
  max-width: 950px;
  margin: 0 auto;
  padding: 10px;
}

.SignIn {
  min-height: 95vh;
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;

  &-title {
    margin: 0;
    font-size: 3rem;
  }

  &-btn {
    display: block;
    margin: 50px auto 0;
    padding: 1ex 2em;
    max-width: 300px;
    font-size: 1.4rem;
    border-radius: 2px;
    background: #fff;
  }
}


.BookmarkList {
  margin: 1em 0;
  border-top: 1px solid #f2f2f2;
}

.Bookmark {
  padding: 1em 0;
  border-bottom: 1px solid #f2f2f2;

  &-image {
    position: relative;
    min-width: 140px;
    max-width: 25%;
    width: 200px;
    min-height: 140px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    background-size: cover;
    background-position: center;

    &:before {
      position: absolute;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
      background-image: repeating-linear-gradient(-45deg, #f2f2f2, #f2f2f2 4px, #fff 4px, #fff 8px);
    }
  }

  &-content {
    position: relative;
    margin-left: 1.4em;
    padding: .5ex 0 2em;
    line-height: 1.35;
  }

  &-title {
    font-weight: bold;
  }

  &-host {
    margin-left: 0.7em;
    font-size: 0.7rem;
    color: #666;
  }

  &-description {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: 1ex;
    color: #666;
    overflow: hidden;
  }

  &-metadata {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.7rem;
    color: #666;

    &-item {
      margin-right: 1em;
      min-width: 25px;
    }
  }
}

.BookmarkForm {
  margin: 0 auto;
  padding: 2ex 1.2em;
  max-width: 750px;
  line-height: 2;
  font-size: 1rem;
  border-radius: 2px;
  background: #e4f1f7;

  &-input {
    flex: 1;
    padding: 0 1em;
    border: 1px solid #f2f2f2;
    border-right: 0;
    border-radius: 4px 0 0 4px;
  }

  &-submit {
    padding: 0 .5em;
    border: 0;
    border-radius: 0 4px 4px 0;
    background: #008dcc;
    color: #fff;
    font-weight: bold;
  }
}


.Title {
  margin: 1em 1ex;
  line-height: 1.2;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;

  &-min {
    display: inline-block;
    font-size: 1rem;
  }
}

.Logo {
  display: inline-block;
  padding: .5ex .5em;
  border-radius: 4px;
  background: #008dcc;
  color: #fff;
}


.Pagination {
  margin: 1em 0;
  text-align: center;
}